.btn {
  box-sizing: border-box;
  align-self: auto;
  z-index: 3;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 200px;
}

.btn-icon {
  border: 0;
  padding: 0;
  background: transparent;
  font-weight: 600;
}

.btn-submit {
  color: #ffffff;
  background-color: var(--qa-green);
  border-color: var(--qa-green);
}

.btn:hover {
  background-color: #ffde76;
  transition: 0.7s;
  border: none;
}

.btn:visited {
  background-color: #ffde76;
  transition: 0.7s;
  border: none;
}

button.accordion-button {
  padding: 0;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff;
  box-shadow: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: none;
  box-shadow: none;
}
