footer {
  width: 100%;
  margin-top: 1rem;
  font-weight: 500;
  padding: 1.25rem 0;
  background: white;
  position: absolute;
}

@media (max-width: 480px) {
  footer {
    text-align: center;
  }
}

.nav li a {
  color: #596f44 !important;
}
