@import 'bootstrap/dist/css/bootstrap.css';
@import './styles/main.css';

:root {
  --qa-green: #354328;
}

#root {
  position: relative;
  padding-bottom: 6.25rem;
  min-height: 100%;
  font-family: Geomanist, Helvetica, Arial, sans-serif;
}

.application-container {
  text-align: left;
  background-color: #b1de87;
  min-height: 100%;
}

.container {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
}

.title {
  display: block;
  font-weight: 600;
  width: 100%;
}

.subtitle {
  display: block;
  font-weight: 500;
  text-transform: none;
  width: 100%;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

.title-block {
  position: relative;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: none;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

tr th.text-primary {
  color: #596f44 !important;
}

div .container-lg {
  margin-bottom: 4%;
}

main {
  padding-bottom: 30px;
}

.details {
  background-color: #ffffff;
}

input[type='checkbox'] {
  accent-color: var(--qa-green);
}
